body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'sidebar header header'
    'sidebar main main'
    'sidebar main main'
    'sidebar main main'
    'sidebar main main';
  overflow: hidden;
  height: 100vh;
}

/*COLOR PALETTE*/
.palette-container {
  grid-area: sidebar;
  max-width: 360px;
  margin-left: 90px;
}

.palette {
  background: #FFFFFF;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 26px 27px 0px 0px;
  height: 94vh;
  margin-top: 20px;
  display: grid;
}

.overlay {
  position: relative;
  background-image: url('../images/paper.png');
}

.overlay::after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
}

h2 {
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: bold;
  text-align: center;
}

.swatch {
  height: 80px;
  margin: 0;
}

.first {
  margin-top: 5px;
}

.hex-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Cabin Condensed', sans-serif;
}

.hex {
  margin: 0;
}

.lock {
  background-color: transparent;
  cursor: pointer;
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 16px; 
  margin: 0;
  border: none;
  padding: 0 30px;
  text-align: end;
}

.lock:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.fifth-lock {
  margin-bottom: 45px;
}

.tack-div {
  display: flex;
  justify-content: flex-end;
}

.tack {
  height: 1.6em;
  margin: 10px;
}

/*HEADER*/
.title {
  grid-area: header;
  font-family: 'Sarina', cursive;
  line-height: 55px;
  font-size: 4em;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 27px rgba(0, 0, 0, 0.66);
  margin: 40px 1.8em 20px 0;
  height: 1em;
}

/*MAIN SECTION*/
.user-section {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 3%;
  font-family: 'Cabin Condensed', sans-serif;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 40px;
}

.new-colors {
  margin-top: 2em;
  height: 4em;
  width: 10em;
  font-size: 12px;
  font-weight: bold;
}

hr {
  height: 3px;
  width: 80%;
  border: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

input, button {
  border-radius: 10%;
}

/*PALETTE FORM*/
.palette-form {
  margin: 1em;
  display: flex;
  width: 25em;
  height: 25px;
}

#project-select {
  margin-left: 1em;
}

.palette-input {
  margin-left: 6em;
}

.palette-btn {
  margin-left: 1em;
}

/*PROJECT FORM*/
.project-form {
  margin: 1em;
  display: flex;
  height: 25px;
}

#project-input {
  margin-left: 1em;
}

.project-btn {
  margin-left: 1em;
}
