body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'sidebar header header'
    'sidebar main main'
    'sidebar main main'
    'sidebar main main'
    'sidebar main main';
}

.palette-container {
  grid-area: sidebar;
  max-width: 280px;
  margin-left: 40px;
}

.palette {
  background: #FFFFFF;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 26px 27px 0px 0px;
  height: 90vh;
  margin-top: 20px;
}

.title {
  grid-area: header;
  font-family: 'Sarina', cursive;
  line-height: 55px;
  font-size: 4em;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid rgba(242, 201, 76, 0.4);
  text-shadow: 0px 4px 27px rgba(0, 0, 0, 0.66);
  margin: 40px 40px 20px;
  height: 1em;
}

.user-section {
  grid-area: main;
  border: solid 1px black;
  margin: 0 40px;
}
